# define the FQDN of servers we call on to provide context in notifications
servers:
  ganglia: ganglia.example.com
  graphite: graphite.example.com
splunk:
  url: https://splunk.example.com:8089/services/search/jobs
  username: splunkuser
  password: splunkpass
logstash:
  url: http://logstash.example.com:9200
  result_field_trucate: 200
logfile: /tmp/nagios-herald.log
formatter_dir: /usr/local/nagios-herald-formatters
